<div *ngIf="dataLoaded == false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div class="row">
    <div class="col-md-12"> 

      <div class="row row-cols-1 row-cols-md-3 g-2">
      
        <div *ngFor="let user of users" class="col">
          <div class="card" style="width: 18rem;">
            <img

              class="card-img-top h-auto w-auto"
              src="https://localhost:44326/{{ user.imagePath }}"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">{{ user.firstName }} {{ user.lastName  }}</h5>
              <p class="card-text"> {{ user.dateOfBirth }} <br> {{ user.gender }}</p>
              <p class="card-text">E-mail: <br> {{ user.email }}</p>
              <p class="card-text">Phone: <br> {{ user.phone }}</p>
              <p class="card-text">Adress: <br> {{ user.street }} {{ user.state }} {{ user.city }} <br> {{ user.country}} {{ user.postCode }}</p>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>